body
	+light
img
	max-width: 100%
.section
	padding: 100px 0
	&-title
		font-size: 30px
		+bold
		text-align: center
		text-transform: uppercase
	&__title
		margin-bottom: 100px
.text__bold
	+bold

.input
	height: 80px
	padding-left: 122px
	border: 1px solid #dddddd

input[type='checkbox']
	display: none
	&:checked + label:before
			background: green
.select
	height: 80px
	width: 100%
	border: 1px solid #dddddd
	position: relative
	&:after
		content: ''
		position: absolute
		transform: translateY(-50%)
		top: 50%
		right: 20px
		width: 20px
		height: 20px
		background: url('../img/caret.png') no-repeat center
	&:hover
		cursor: pointer	
	&_checked
		line-height: 80px
		padding-left: 30px
	&__dropdown
		position: absolute
		top: 80px
		width: 100%
		background-color: #fff
		border: 1px solid #dddddd
		margin: 0
		list-style: none
		padding: 0
		display: none
		&_open
			display: block
	&__option
		padding: 20px
		&:hover
			background-color: #f1f1f1

.checkbox
	&-label
		display: flex
		align-items: center
		margin-right: 42px
		&:hover
			cursor: pointer
		&:before
			content: ''
			width: 30px
			height: 30px
			border: 1px solid #dddddd
			margin-right: 20px
@media (max-width: 576px)
	.button
		font-size: 10px
	.section
		padding: 60px 0
		&-title
			font-size: 24px

.button
	font-size: 15px
	padding: 25px 45px
	color: #ffffff
	background-color: #507fe1
	text-decoration: none
	&:hover
		cursor: pointer
	&-fitting
		color: #6a99e9
		background-color: #fff
	&-add
		background-color: lighten(#6a99e9, 10%)
		color: #ffffff
	&-like
		background-color: #6a99e9
		height: 30px
		width: 30px
		border: none


$bg-secondary: #f1f1f1
	